.title {
    text-align: center;
    font-size: 35px;
    color: white;
}
.navbar{
    color:white;
}
.navbar {
    text-align: center;
     padding-bottom: 10%;
    color: white;    
}
:any-link{
    color:white;
    font-size: 25px;
}
body{
    background-image: url(./city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff; 
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}   
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: white;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.navbar a:hover{
    color: white;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
    }

@media (min-width: 576px) {
    
  }
   /* @media(min-width: 992px) {

   } */