 /* *{
    /* text-align: center; */
    /* padding: 0px; 
    /* margin: 0px; */
    /* box-sizing: border-box; */
    /* list-style: none; */
    /* font-family: sans-serif; */
    /* text-align: left; */
 /* } */ 
 .body{color: gold;
}

 /* h1{
    padding: 10%;
    background-color: black;
    color: white;
 } */
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: left;
    background-image: url(./citybackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
    text-align: left;

}
.menu{
    width: 30%;
    font-size: 13;
    text-align: left;
    /* background: darkblue; */
    opacity: 1;
}
#logo{
    color: gold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 40px;
    padding-left: 0%;
    margin: 0px;
    background-color: black;
}
.menu a{
    text-decoration: none;color:gold;
    letter-spacing: 1px;
    text-align: left;
    display: list-item;
    padding: 20px;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
   border-right: 1px solid gold;
}

.menu a:hover{
background-color: black;
transition: 0.5s;
letter-spacing: 4px;
text-transform: uppercase;
}
 .body img {
    border-radius: 50%;
    max-width: 60%;
  /* border: 6px solid black; */

}
 
@media (min-width: 576px) {

}

@media(min-width: 992px) 
{
    .main{
        display: flex;
        /* text-align: center; */
    }
    .menu{
        width: 15%;
        /* text-align: center; */
        font-size: 30px;
    }
    .menu a {
        text-align: center;
    }
    #logo{
        font-size: 35px;
        text-align: center;

    }
    .body img {
        border-radius: 50%;
        max-width: 30%;
      border:10px solid black;
    }
    .body{
        width: 800px;
        margin-left: auto; 
        margin-right: auto;
        text-align: center;
        font-size: 25px;
        background-color: black;
        margin-bottom:13%;
        margin-top: 5%;
        
        
} 
    
}